
header {
  text-align: center;
  background-color: #121213;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.starShipCard {
  margin: auto;
  height: 80px;
  width: 150px;
  display: inline-flex;
  flex-wrap: wrap;
  border: 10px solid white;
  background-color: rgb(39, 39, 29);
  color: wheat;
  padding: 10px;
  text-align: center;
  justify-content: center;
}